.contenedor-botones{
    right: auto;
    width: 10%;
    margin-left: 50px ;
}

.redes {
    width: 30%;
}

.redes a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

.contacto {
    background-color: #0082FF;
    color: white;
    height: 55px;
    width: 55px;
    line-height: 62px;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
    cursor: pointer;
    margin-left: 10px;
}

.contacto:hover{
    background-color: #fff;
    color: #0082FF;
}