/****Hexagonos Objetos de aprendizaje FOCO 2016 ****/

.hexagono::before,
.hexagono::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.colmena {
  text-align: center;
}

.colmena a,
.colmena a:hover {
  text-decoration: none;
  color: #f4f4f4;
}

.hexagono {
  position: relative;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 50px 50px;
  text-align: center;
  transform: scale(0.9);
  transition: all 0.2s linear;
}

.hexagono,
.hexagono::before,
.hexagono::after {
  width: 145px;
  height: 250px;
  border-radius: 10%/3%;
}

.hexagono::before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagono::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.hexagono:nth-child(even) {
  top: 59px;
}

.hexagono:hover {
  z-index: 105;
  transform: scale(1);
}

.hexagono:active {
  background-color: hsla(60, 75%, 50%, 1.0);
  z-index: 110;
}

.contenido-hexagono {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 140%;
  font-size: 15px;
  line-height: 1.2;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  z-index: 100;
}

.linea-fija {
  font-size: 0;
}





.linea-pedagogica.hexagono {
    background-color: #000F9F;
}

.linea-pedagogica.ribbon, .linea-pedagogica.hexagono:hover {
    background-color: #0066FF;
}

/* RIBBON */

.ribbon {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: inline-block;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-left: 100px;
  padding: 10px 30px;
  position: relative;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.ribbon:after {
  border-width: 28px;
  border-style: solid;
  border-left-width: 0;
  border-right-color: transparent !important;
  content: "";
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  right: -28px;
  top: -0;
}


.linea-pedagogica.ribbon:after {
  border-color:#034FC3;
}

[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }

  
  .ribbon2 {
    width: 1000px;
    height: 60px;
    margin-top: 50px;
    margin: 100px auto 0px;
    position: relative;
    color: #fff;
    font: 25px sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #0066FF;
    
    -webkit-animation: main 250ms;
    -moz-animation: main 250ms;
    -ms-animation: main 250ms;
    animation: main 250ms;
  }
  
  .ribbon2 i {
    position: absolute;
  }
  
  .ribbon2 i:first-child, .ribbon2 i:nth-child(2) {
    position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border: 20px solid transparent;
    border-right-color: #000F9F;
    
    -webkit-animation: edge 500ms;
    -moz-animation: edge 500ms;
    -ms-animation: edge 500ms;
    animation: edge 500ms;
  }
  
  .ribbon2 i:nth-child(2) {
    left: auto;
    right: -20px;
    border-right-color: transparent;
    border-left-color: #000F9F;
  }
  
  .ribbon2 i:nth-child(3), .ribbon2 i:last-child {
    width: 20px;
    bottom: -20px;
    left: -60px;
    z-index: -2;
    border: 30px solid #0066FF;
    border-left-color: transparent;
    
    -webkit-animation: back 600ms;
    -moz-animation: back 600ms;
    -ms-animation: back 600ms;
    animation: back 600ms;
    
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  
  .ribbon2 i:last-child {
    bottom: -20px;
    left: auto;
    right: -60px;
    border: 30px solid #0066FF;
    border-right-color: transparent;
  
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  
  .ribbon3 {
    width: 800px;
    height: 60px;
    margin-top: 50px;
    margin: 100px auto 0px;
    position: relative;
    color: #fff;
    font: 25px sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #0066FF;
    
    -webkit-animation: main 250ms;
    -moz-animation: main 250ms;
    -ms-animation: main 250ms;
    animation: main 250ms;
  }
  
  .ribbon3 i {
    position: absolute;
  }
  
  .ribbon3 i:first-child, .ribbon3 i:nth-child(2) {
    position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border: 20px solid transparent;
    border-right-color: #000F9F;
    
    -webkit-animation: edge 500ms;
    -moz-animation: edge 500ms;
    -ms-animation: edge 500ms;
    animation: edge 500ms;
  }
  
  .ribbon3 i:nth-child(2) {
    left: auto;
    right: -20px;
    border-right-color: transparent;
    border-left-color: #000F9F;
  }
  
  .ribbon3 i:nth-child(3), .ribbon3 i:last-child {
    width: 20px;
    bottom: -20px;
    left: -60px;
    z-index: -2;
    border: 30px solid #0066FF;
    border-left-color: transparent;
    
    -webkit-animation: back 600ms;
    -moz-animation: back 600ms;
    -ms-animation: back 600ms;
    animation: back 600ms;
    
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  
  .ribbon3 i:last-child {
    bottom: -20px;
    left: auto;
    right: -60px;
    border: 30px solid #0066FF;
    border-right-color: transparent;
  
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  
  
  /* animations */
  
  @-webkit-keyframes main {
    0% { -webkit-transform: scaleX(0); }
    100% { -webkit-transform: scaleX(1); }
  }
  
  @-webkit-keyframes edge {
    0%, 50% { -webkit-transform: scaleY(0); }
    100% { -webkit-transform: scaleY(1); }
  }
  
  @-webkit-keyframes back {
    0%, 75% { -webkit-transform: scaleX(0); }
    100% { -webkit-transform: scaleX(1); }
  }
  
  
  @-moz-keyframes main {
    0% { -moz-transform: scaleX(0); }
    100% { -moz-transform: scaleX(1); }
  }
  
  @-moz-keyframes edge {
    0%, 50% { -moz-transform: scaleY(0); }
    100% { -moz-transform: scaleY(1); }
  }
  
  @-moz-keyframes back {
    0%, 75% { -moz-transform: scaleX(0); }
    100% { -moz-transform: scaleX(1); }
  }
  
  
  @keyframes main {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
  }
  
  @keyframes edge {
    0%, 50% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
  }
  
  @keyframes back {
    0%, 75% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
  }